.font-button {
    font-size: 80%;
    font-weight: bold;
}

.calc-borders {
    border-radius: 5px;
    border-style: none;
}

button:hover{
    background-color: white;
    color: black;
}

button{
    margin-bottom: 15px;
}

td{
    margin-left: 15px;
}

.number {
    color: white;
    background-color: rgb(67, 67, 236);

    width: 32px;
    height: 32px;

    border-color: blue;

    box-shadow: 0px 3px rgb(0, 0, 174);
}

.operation {
    color: rgb(255, 255, 255);
    background-color: rgb(109, 211, 51);

    width: 32px;
    height: 32px;

    border-color: green;

    box-shadow: 0px 3px rgb(41, 174, 0);
}

.result {
    color: rgb(255, 255, 255);
    background-color: orange;

    width: 32px;
    height: 32px;

    border-color: green;

    box-shadow: 0px 3px rgb(250, 134, 17);
}

.delete {
    color: #ffffff;
    background-color: rgb(224, 3, 3);

    width: 92%;
    height: 32px;

    border-color: red;

    box-shadow: 0px 3px rgb(210, 0, 0);
}

.display {
    border-radius: 5px;
    width: 90%;
    height: 32px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 100%;
    font-weight: bold;
}

.myTable {
    border-style: solid;
    border-radius: 5px;;
    padding-left: 15px;
    padding-top: 15px;
}